body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #0728bc;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #0728bc;
    font-weight: bold;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
} 

.navbar-toggler{
    background-color: #16D2D9;
}
.estilo-titulos{
    font-family: 'Pacifico', cursive;
}

.estilo-textos-cor{
    color: #0728bc;
}

.carousel-item img{
    width: 100%;
    max-height: 650px;        
}

.estilo-section{
    background-color: #83edf0;
}

.nav-consoles .nav-link.active.estilo-plays,
.nav-jogos .nav-link.active.estilo-plays{
    background-color: #0728bc;
}
.nav-consoles .nav-link.active.estilo-xboxs,
.nav-jogos .nav-link.active.estilo-xboxs{
    background-color: #048230;
}
.nav-consoles .nav-link.active.estilo-nintendos,
.nav-jogos .nav-link.active.estilo-nintendos{
    background-color: #e60012;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

@media (min-width: 300px) and (max-width: 1399px) {
    #sobre-a-loja{
        flex: none;
    }
}